#include <windows.h>
#include <ntverp.h>



#define VER_FILETYPE    			VFT_DLL
#define VER_FILESUBTYPE 			VFT2_UNKNOWN
#define VER_TITEL                   "Usermode Library"
#define VER_INTERNALNAME_STR        "fuser.dll"

//MAIN               ICON    DISCARDABLE     "TESTVER.ICO"

#include "..\_general\general.ver"
